{% extends "base.html" %}
{% block content %}
<div class="card mx-auto my-5" style="max-width: 350px;">
  <h5>ログイン画面</h5>
  <div class="card-body">
    <form action="/login" method="POST">
      <div class="mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="email">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="password">
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">ログイン</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}